/* Container styles */
.container {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
   
  }
  
  /* Heading styles */
  .heading1 {
    font-size: 24px;
    color: #333;
  }
  
  /* Button styles */
  .c1
  {
      margin-top: 10px;
      margin-bottom:10px;
      font-size: larger;
      align-content: center;
      background-color:black;
        color:white;
        cursor: pointer;
      border-radius:500px;
      width:180px;
      margin-left: 1550px;
      height:60px;
      border:1px solid black;
    }
  
  /* Back button styles */
  i.button {
    position: absolute;
    top: 150px;
    left:3%;
    transform: translateY(-50%);
    height: 36px;
    width: 36px;
    background-color:  #343f4f;
    border-radius: 50%;
    text-align: center;
    line-height: 36px;
    color: #fff;
    font-size: 15px;
    transition: all 0.3s linear;
    z-index: 100;
    cursor: pointer;
}
  /* Listing styles */
  .b1 {
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Listing item styles */
  .container p {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
  }
  .heading1{
    font-size: 40px;
    padding-top: 20px;
    text-decoration: none;
    margin-left: 10px;
    font-family: 'Playfair Display', serif;
    color: #F4F4F4;
}